/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #022b61;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
}

nav {
    background-color: #022b61;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    padding: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

section {
    margin: 2rem 0;
}

h2 {
    color: #464545;
    margin-bottom: -1rem;
}

footer {
    background-color: #022b61;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
    font-size: x-small;
}
